@import "../variables";
@import "../mixins";

.features {
  background: $neutral-light-color;

  &__wrap {
    float: right;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  &__heading--desktop {
    position: absolute;
    font-family: $main-font;
    font-weight: bold;
    font-size: 42px;
    color: $primary-color;
  }

  &__heading {
    display: none;
  }

  &__row--desktop {
    display: flex;
    padding-top: 98px;
    padding-bottom: 38px;
  }

  &__column--desktop {
    flex: 50%;
  }

  &__row--tablet {
    display: flex;
    width: 92%;
    margin-bottom: 34px;
  }

  &__img {
    min-width: 134px;
    margin-top: 10px;
  }


  &__text {
    font-family: $main-font;
    font-weight: normal;

    h2 {
      padding-bottom: 17px;
      color: $neutral-dark-color;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      color: $neutral-color;
    }
  }

  &__column--wrap-img {
    position: relative;
    overflow: hidden;
  }

  &__column--img {
    position: absolute;
    top: 69px;
    left: -18px;
  }
}

@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop - 1px) {

  .features {
    background: none;
    padding-top: 60px;
    padding-bottom: 0;

    &__row--desktop {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__heading--desktop {
      display: none;
    }

    &__heading {
      font-family: $main-font;
      display: block;
      padding-top: 60px;
      padding-bottom: 50px;
      font-size: 42px;
      font-weight: bold;
      color: $primary-color;
      text-align: center;
    }

    &__row--tablet {
      width: 87%;
      margin: 0 auto;
      padding-bottom: 60px;
    }

    &__column--img {
      padding-left: 50px;
    }

    &__column--img {
      position: inherit;
      top: 0;
      left: -15px;
    }
  }
}

@media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px) {

  .features {
    padding-top: 31px;
    background: none;

    &__row--desktop {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__row--tablet {
      display: block;
      width: 90%;
      margin: 0 auto;
    }

    &__heading--desktop {
      display: none;
    }

    &__heading {
      @include regular-heading;
      display: block;
      padding-top: 31px;
      padding-bottom: 36px;
      color: $primary-color;
      text-align: center;
    }

    &__column--desktop {
      text-align: center;
    }

    &__img {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 25px;
    }

    &__column--img {
      position: inherit;
      top: 0;
      left: -15px;
      padding-top: 60px;
    }

    &__text {
      h2 {
        padding-bottom: 0;
      }
    }
    }
  }

