@import "../variables";
@import "../mixins";


.wrap {
  @include main-wrap;
}

.header {
  background-image: url('../../img/header.png');
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  @include flex-center;
  flex-direction: column;

  &__title {
    color: $default-color;
    font-family: $main-font;
    font-size: 82px;
    font-weight: 700;
    line-height: 20.45px;
    padding-top: 80px;
  }

  &__subtitle {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 20.45px;
    padding-top: 60px;
  }

  &__caption {
    color: $neutral-color;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
    padding-top: 20px;
  }
}

.topButtonBlock {
  @include flex-center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.28571428;
  margin: -33px 0 55px;
}

.present__button {
  height: 62px;
  min-width: 390px;
  color: $default-color;
  background-color: $primary-color;
  border: transparent;
  border-radius: 30px;
  font-family: $main-font;
  font-size: 21px;
  font-weight: 700;
  line-height: 20.45px;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease-in, background-color .2s ease-in, border .2s ease-in;
  margin: 0 0 16px;
  padding: 17px;

  &:hover {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $default-color;
  }
}

.present__subtitle {
  color: $neutral-color;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop - 1px) {

  .header-content {
    &__title {
      font-size: 72px;
    }

    &__subtitle {
      font-size: 19px;
      text-align: center;
    }
  }

  .header-content__caption,
  .navbar-menu__link {
    font-size: 14px;
  }
}

@media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px) {

  .present__button {
    min-width: 95%;
  }

  .header-content {
    &__title {
      font-size: 48px;
    }

    &__subtitle {
      font-size: 18px;
      text-align: center;
    }

    &__caption {
      font-size: 14px;
    }
  }
}

