@import "../variables";
@import "../mixins";


.wrap {
  @include main-wrap;
}

.navbar {
  background-color: #27262a;
  font-family: $main-font;
  padding: 30px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  display: flex;
  align-items: center;
  color: $default-color;
  text-decoration: none;

  &:hover &__logo {
    background-image: url('../../img/Logo.png');
    background-position: 0 57px;
  }

  &__logo {
    display: block;
    width: 43px;
    height: 49px;
    overflow: hidden;
    position: relative;
  }

  &__text {
    text-transform: uppercase;
    padding-left: 20px;
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
  }
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    padding-right: 30px;
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    transition: color .2s ease-in;
  }

  &__button {
    background-color: $primary-color;
    color: $default-color;
    border-radius: 15px;
    border: none;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    transition: color .2s ease-in, background-color .2s ease-in;
    padding: 6px 26px;
  }

  &__button:hover {
    color: $primary-color;
    background-color: $default-color;
  }
}

.navbar-title:hover .navbar-title__text,
.navbar-menu__link:hover {
  color: $default-color;
}

.hamburger-menu {
  display: none;

  &__bars {
    background-color: $default-color;
    border-radius: 4px;
    width: 27px;
    margin-bottom: 6px;
    height: 3px;
    transition: .2s ease-in;
  }

  &__bars--shorter {
    width: 21px;
  }
}

.mobile-menu {
  display: none;
  background-color: #333;
  position: absolute;
  width: 95%;
  left: 0;
  right: 0;
  top: 100%;
  opacity: 0;
  z-index: 2;
  margin: 0 auto;

  &__items {
    border-bottom: 1px solid #3b3b3b;
    padding: 34px 0;
  }

  &__links {
    color: $default-color;
    font-size: 26px;
    padding-left: 30px;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }
}


@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop - 1px) {

  .navbar-content {
    flex-wrap: wrap;
  }

  .navbar-title {
    order: 1;
  }

  .navbar-menu {
    flex-basis: 100%;
    order: 3;
    margin-top: 17px;

    &__button {
      order: 2;
    }
  }

  .navbar-menu__link {
    font-size: 14px;
  }
}

@media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px) {
  .navbar {
    position: relative;

  }

  .navbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 1;
  }

  .navbar-menu,
  .navbar-title__text {
    display: none;
  }
}

@media only screen and (min-width: $bp-desktop) {
  .navbar-menu {
    flex-grow: 1;
    justify-content: flex-end;
  }
}