@import "../variables";
@import "../mixins";

.popularity {
  &__heading {
    padding-top: 23px;
    padding-bottom: 36px;
    font-family: $main-font;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $primary-dark-color;
  }

  &__text {
    width: 75%;
    margin: 0 auto;
    font-family: $secondary-font;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #323232;
  }

  &__button-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 70px;
  }

  &__button-list {
    margin-right: 10px;
  }

  &__button-list svg{
      vertical-align: sub;
  }

  &__btn {
    float: left;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: $neutral-dark-color;
    border: 1px solid rgba(27, 31, 35, .15);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
  }

  &__count {
    float: left;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: $neutral-dark-color;
    border: 1px solid rgba(27, 31, 35, .15);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-decoration: none;
  }

}


@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop - 1px){
  .popularity {

    &__heading {
      padding-top: 46px;
      font-size: 42px;
    }

    &__text {
      width: 100%;
    }

    &__button-block {
      padding-bottom: 98px;
    }
  }
}

@media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px){

  .popularity {
    &__heading {
      font-size: 26px;
    }

    &__text {
      width: 96%;
      font-size: 14px;
      line-height: 20px;
    }

    &__button-block {
      padding-bottom: 88px;
    }

    &__button-list {
      margin-bottom: 20px;
    }
  }
}