@import "../variables";
@import "../mixins";

.pricing {
  background-image: url('../../img/layout.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing-title {
  @include regular-heading;
  text-align: center;
  color: $default-color;
  line-height: 50px;
  padding-top: 88px;
  padding-bottom: 60px;
}

.pricing-block {
  @include flex-space-evenly;
  align-items: center;
  padding-bottom: 97px;
  font-family: $main-font;
  font-weight: normal;
  color: #ffffff;
  text-align: center;

  &__item {
    width: 22%;
    min-width: 210px;
    max-width: 300px;
    height: 457px;
    background: rgba(255, 255, 255, 0.1);
  }

  &__heading-wrap {
    background: rgba(255, 255, 255, 0.2);
  }

  &__heading {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__price {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 60px;
  }

  &__price {
    span {
      font-weight: bold;
    }
  }

  &__period {
    font-size: 14px;
    text-transform: uppercase;

    &:after {
      display: block;
      width: 60px;
      height: 5px;
      margin: 38px auto 35px;
      background: $primary-color;
      content: " ";
    }
  }


  &__option-wrap {
    height: 44px;
  }

  &__button {
    margin-top: 23px;
    margin-bottom: 37px;
    padding: 15px 35px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: normal;
    color: $default-color;
    text-align: center;
  }
}

.pricing-block__item:nth-child(3n) {
  width: 27%;
  max-width: 340px;
  min-width: 235px;
  height: 560px;
  background: rgba(0, 0, 0, 0.3);

  .pricing-block__heading-wrap {
    background: rgba(0, 0, 0, 0.2);
  }

  .pricing-block__heading {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .pricing-block__price {
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 82px;
  }

  .pricing-block__price span {
    font-weight: bold;
  }

  .pricing-block__period:after {
    margin: 46px auto 39px;
  }

  .pricing-block__option-wrap {
    height: 44px;
  }

  .pricing-block__button {
    margin-top: 83px;
    margin-bottom: 47px;
    padding: 18px 40px;
  }
}


@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop - 1px) {
  .pricing-title {
    padding-bottom: 39px;
    font-size: 42px;
    line-height: 44px;
  }

  .pricing-block {
    justify-content: center;
    padding-bottom: 82px;

    &__item {
      width: 34%;
      margin-bottom: 42px;

      &:first-child {
        margin-right: 40px;
      }

      &:nth-child(3n) {
        width: 38%;
        margin-right: 13px;
      }
    }
  }
}

@media screen and (min-width: $bp-mobile) and (max-width: $bp-tablet - 1px) {
  .pricing-title {
    padding-bottom: 51px;
    font-size: 28px;
    line-height: 42px;
  }

  .title {
    font-size: 28px;
  }

  .pricing-block {
    justify-content: center;
    padding-bottom: 93px;

    &__item {
      width: 85%;
      margin-bottom: 13px;

      &:nth-child(3n) {
        width: 98%;
      }
    }
  }
}
