@import "../variables";
@import "../mixins";

.testimonials {
  background-image: url('../../img/testmonials-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-title {
    @include regular-heading;
    text-align: center;
    color: $default-color;
    line-height: 50px;
    padding: 100px 0;
  }
}

.review-block {
  @include flex-space-evenly;
  justify-content: space-between;
  flex-direction: row;

  &__item {
    width: 33%;
    text-align: center;
  }

  &__image-holder {
    height: 70px;
  }

  &__caption {
    color: $default-color;
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    padding: 0 30px 60px;
  }

}

.review-footer {
  text-align: center;
  width: 857px;
  padding-bottom: 5px;
  margin: 0 auto;

  &__caption {
    color: $primary-light-color;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  &:after {
    display: block;
    background: #645766;
    margin: 18px auto 2px;
    content: " ";
    width: 90%;
    height: 2px;
  }
}


@media only screen and (min-width: 481px) and (max-width: 992px) {
  .testimonials {
    //background-attachment: fixed;

    &-title {
      font-size: 42px;
    }
  }
  .review-block {
    &__item {
      width: 50%;
    }

    &__caption {
      font-size: 13px;
    }

    &__image-holder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .review-footer {
    width: 100%;

    &__caption {
      font-size: 12px;
    }
    //&:after {
    //  display: block;
    //  background: #645766;
    //  margin: 18px auto 2px;
    //  content: " ";
    //  width: 80%;
    //  height: 2px;
    //}
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .testimonials {
    //background-attachment: fixed;

    &-title {
      font-size: 36px;
      line-height: 48px;
      padding-bottom: 50px;
    }
  }
  .review-block {
    &__item {
      width: 99%;
    }

    &__caption {
      font-size: 16px;
      padding-bottom: 40px;
    }

    &__image-holder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .review-footer {
    display: none;
  }
}
