@import "variables";

@mixin main-wrap () {
  width: $width;
  max-width: $max-width-content;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin regular-heading () {
  font-family: $main-font;
  font-weight: bold;
  font-size: 48px ;
}

@mixin flex-space-evenly () {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@mixin flex-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}










