//Font
$main-font: Montserrat, sans-serif;
$secondary-font:  Lato, sans-serif;

//Size
$width: 100%;
$max-width-content: 1200px;

$bp-mobile: 320px;
$bp-tablet: 481px;
$bp-desktop: 993px;

//Color
$default-color : #ffffff;
$neutral-light-color : #F4F4F4;
$neutral-color : #848E97;
$neutral-dark-color : #323232;
$primary-light-color : #A291A5;
$primary-color : #8D81AC;
$primary-dark-color : #635C73;







